

Messenger.UI/obj

Messenger.UI/binMessenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.runtimeconfig.json
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.deps.json
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.deps.json
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.deps.json
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.dll
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.deps.json
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.dll
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.pdb
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.runtimeconfig.dev.json
Messenger.UI/Logs/20180620.log
Messenger.UI/Logs/20180620.log
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.deps.json
.vs/Messenger/v15/.suo
.vs/Messenger/v15/.suo
.vs/Messenger/v15/.suo
Messenger.UI/bin/Debug/netcoreapp2.0/Messenger.UI.runtimeconfig.json
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.deps.json
Messenger.UI/obj/Debug/netcoreapp2.0/Messenger.UI.AssemblyInfo.cs
*.cache
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.dll
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.pdb
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.runtimeconfig.dev.json
Messenger.UI/bin/Release/netcoreapp2.0/Messenger.UI.runtimeconfig.json
.vs/config/applicationhost.config
.vs/Messenger/v15/sqlite3/storage.ide
Messenger.UI/Logs/20180621.log
*.log
Messenger.UI/Messenger.UI.csproj.user
