
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content { padding-left: 15px; padding-right: 15px; }

/* Carousel */
.carousel-caption p { font-size: 20px; line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */
#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

.framed-block { box-shadow: 0 3px 11px 0 #808080; padding: 15px; }
    .framed-block .form-group { margin: 0 10px; }
.commands-block { padding: 15px; }
.delete-user-button { padding: 2px 10px; }

.fade { opacity: initial; }
.modal-backdrop, .modal-backdrop.show, .modal-backdrop.fade { display: none !important; }
.modal.fade .modal-dialog { z-index: 999999; margin: 7.75rem auto; -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.img-to-insert { width: 100%; }
.img-container { margin: 5px; }
.img-selected { background-color: #808080; }
.detach-link { cursor: pointer; }
.delete-user-button { margin-top: 5px; }
